<footer class="text-light bg-dark py-4">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Contacts</h5>
            <p>Conseil et commande par téléphone : 06.06.06.06.06</p>
            <p>
                Du lundi au vendredi de 9:00 à 18:00<br>
                Samedi de 10:00 à 18:00<br>
                France Métropolitaine : 03.18.19.63.20
            </p>
        </div>
        <div class="col-md-4">
            <h5>Utiles !</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Qui sommes nous ?</a></li>
                <li><a href="#" class="text-white">Vous avez un blog ?</a></li>
                <li><a href="#" class="text-white">FAQ. Questions Fréquentes.</a></li>
                <li><a href="#" class="text-white">Conditions Générales de Vente</a></li>
                <li><a href="#" class="text-white">Mentions légales</a></li>
                <li><a href="#" class="text-white">Plan du site</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Suivez-nous sur</h5>
            <div class="d-flex">
                <a href="https://www.facebook.com/" class="text-white me-3">
                    <img src="/img/logo/facebook.png" alt="Facebook" style="width: 24px; height: 24px;">
                </a>
                <a href="https://www.instagram.com/" class="text-white me-3">
                    <img src="/img/logo/insta.png" alt="Instagram" style="width: 24px; height: 24px;">
                </a>
                <a href="https://x.com/" class="text-white me-3">
                    <img src="/img/logo/X.png" alt="X" style="width: 24px; height: 24px;">
                </a>
                <a href"https://www.linkedin.com/" class="text-white me-3">
                    <img src="/img/logo/linkedin.png" alt="Linkedin" style="width: 24px; height: 24px;">
                </a>
                <a href="https://www.youtube.com/" class="text-white">
                    <img src="/img/logo/youtube.jpg" alt="Youtube" style="width: 24px; height: 24px;">
                </a>
            </div>
        </div>
    </div>
</div>
</footer>